<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <% for(let provide of provides){ %>
    <% if(provide.category == "BabySitting"){ %>
    <p><%= provide.fullname %></p>
    <p><%= provide.city %></p>
    <p><%= provide.contactnumber %></p>
    <p><%= provide.experience %></p>
    <p><%= provide.category %></p>
    <%}%>
   <% } %>
</body>
</html>