<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>profile</h1>
 <% for (let provide of provides){%>
 <%   if(provide.emailaddress === employmail){%>
      <div><%=provide.fullname%></div>
      <div><%=provide.contactnumber%></div>
      <div><%=provide.emailaddress%></div>
      <div><%=provide.city%></div>
      <div><%=provide.category%></div>
      <div><%=provide.experience%></div>
      <div><%=provide.workhour%></div>
      <div><%=provide.adharcard%></div>
      <img src="<%= provide.uploadimage.url %>" alt="">
 <%   }%>
 <% }%>
</body>
</html>